interactions:
  - request:
      method: GET
      uri: https://ndcdyn.interactivebrokers.com/AccountManagement/FlexWebService/SendRequest
      headers:
      body: null
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
          - text/xml
      body:
        string: "<?xml version=\"1.0\"?>\n<FlexStatementResponse>\n  <Status>Success</Status>\n
          \ <ReferenceCode>9999999</ReferenceCode>\n  <Url>https://ndcdyn.interactivebrokers.com/AccountManagement/FlexWebService/GetStatement</Url>\n</FlexStatementResponse>\n"
version: 1
